<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.gob.conaculta.msic">

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- SyncAdapter's dummy authentication service -->
    <!--  <service android:name=".sync.MSiCAuthenticatorService" >
          <intent-filter>
              <action android:name="android.accounts.AccountAuthenticator" />
          </intent-filter>

          <meta-data
              android:name="android.accounts.AccountAuthenticator"
              android:resource="@xml/authenticator" />
      </service>-->

    <!-- The SyncAdapter service -->
    <!--  <service
          android:name=".sync.MSiCSyncService"
          android:exported="true" >
          <intent-filter>
              <action android:name="android.content.SyncAdapter" />
          </intent-filter>

          <meta-data
              android:name="android.content.SyncAdapter"
              android:resource="@xml/syncadapter" />
      </service>-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maps.MapaRecActivity"
            android:label="@string/activity_mapa_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.gob.conaculta.msic.MainActivity" />
        </activity>
        <activity
            android:name=".maps.MapaMultiRecActivity"
            android:label="@string/activity_mapa_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.gob.conaculta.msic.MainActivity" />
        </activity>
        <activity
            android:name=".ListadoRecActivity"
            android:label="@string/activity_listado_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="mx.gob.conaculta.msic.MainActivity" />
        </activity>

        <activity
            android:name=".FichaActivity"
            android:label="@string/title_activity_ficha">

        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAPRRMSvZpV2AnMloS-7KVFkpjWcB5Jx2c" />


    </application>

</manifest>



